@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

#root {
    background-color: rgb(226, 228, 227);
}

.hard {
    background-color: red;
}

.soft {
    background-color: green;
}

#projects h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

#projects {
    padding: 2em;
    background-color: rgb(166, 187, 182);
}

.project-container {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 5em;
    height: 15em;
}

.card {
    text-align: center;
    width: 15em;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
}

#projects a {
    font-family: 'Dancing Script', cursive;
    font-size: large;
    text-decoration: none;
    color: black;
}

