@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
    font-family: 'Brittany';
    src: url('fonts/BrittanySignature.ttf') format('truetype')
}

/* General */

#root {
    background-color: rgb(226, 228, 227);
    position: relative;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    padding-bottom: 5vh;
    margin: 0;
}

.container {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5em;
    height: 15em;
}


.icon {
    height: 3vh;
    margin: 1vw;
}

/* Header */
.header {
    height: 6vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.header-item h4 {
    font-family: "Brittany";
}

.header-item button {
    border-radius: 12px;
}

/* NavBar */
.navbar {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    left: 0;
    top: 6vh;
    min-width: 100%;
    z-index: 100;
    padding: 0;
    min-height: 0;
    max-height: 3rem;

}

/* HomePage */
.homepage {
    position: absolute;
    left: 0;
    top: 11.5vh;
}

/* AboutMe */
.aboutme-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6rem;
    margin-bottom: 4rem;
    font-family: 'Montserrat', sans-serif;

}

.aboutme-item-1 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.aboutme-item-1 button {
    margin-top: 2rem;
    align-self: start;
    justify-self: center;
    width: 10rem;
    /* tekst dikgedrukt maken */
}

.aboutme-item-2 {
    margin-right: 4rem;
    margin-left: 4rem;
    width: 400px;
    justify-self: center;
}

.aboutme-item-2 h1 {
    margin-top: 6rem;
    font-size: 350%;
}

/* Projects */
#projects {
    padding: 2em;
    background-color: rgb(166, 187, 182);
}

.projectdiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 5vh;
}

.project-card {
    background-color: white;
    width: 250px;
    height: 350px;
    justify-self: center;
    border-radius: 12px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.project-card h1 {
    font-size: 150%;
    padding: 2rem 1rem 1rem 1rem;
    height: 100px;
}

.project-card p {
    font-size: 95%;
    padding: 1rem;
    position: absolute;
}

.project-card button {
    position: absolute;
    margin-bottom: 1rem;
    bottom: 0;
    left: 25px;
    width: 150px;
    height: 50px;
    border-radius: 12px;
}


/* Skills */
#skills {
    padding: 2em;
    background-color: rgb(72, 119, 121);
}

.hard {
    background-color: #85937D;

}

.soft {
    background-color: #233130
}

/* .soft, .hard {
    width: 15rem;
    padding: 1em;
    text-align: center;
    border-radius: 25px;
    display: grid;
    justify-self: center;
    margin: 1rem;
} */

.skills-container {
    display: flex;
    flex-wrap: wrap;
    padding-right: 2rem;
    padding-left: 2rem
}

.badge {
    margin: 1rem;
}


/* Timeline  */
.timeline {
    padding: 5vh;
}





/* ProjectDetails */







/* Screen sizes */
/* Extra Small (XS): max-width 576px
Small (SM): min-width 576px and max-width 767px
Medium (MD): min-width 768px and max-width 991px
Large (LG): min-width 992px and max-width 1199px
Extra Large (XL): min-width 1200px */
