@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
    font-family: 'Brittany';
    src: url('fonts/BrittanySignature.ttf') format('truetype')
}

/* General */

#root {
    background-color: rgb(226, 228, 227);
}

h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.container {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5em;
    height: 15em;
}

.card {
    text-align: center;
    width: 15em;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
}

.icon {
    height: 3vh;
    margin: 1vw;
}

/* Header */
.header {
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item h4 {
    font-family: "Brittany";
}

/* NavBar */


/* Projects */
#projects {
    padding: 2em;
    background-color: rgb(166, 187, 182);
}

#projects a {
    font-family: 'Dancing Script', cursive;
    font-size: large;
    text-decoration: none;
    color: black;
}

/* Skills */
#skills {
    padding: 2em;
    background-color: rgb(72, 119, 121);
}

.hard {
    background-color: rgb(255,229,226);
}

.soft {
    background-color: rgb(226, 241, 255);
}

.soft, .hard {
    width: 15rem;
    padding: 1em;
    text-align: center;
    border-radius: 25px;
    display: grid;
    justify-self: center;
    margin: 1rem;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, auto);

}

